/* .Input {
  margin-top: 10px;
  margin-bottom: 10px;

} */
/*

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InoutElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding:6px 10px;
  display: block;
  width: 100%;
}

.inputElement:focus {
  outline: none;
  background-color: #ccc;
} */
